.navbar{
    background-color:#cf7d2bb4;
    color: aliceblue;
}
a.navbar-brand{
    color:white;
}
.footer{
    background-color:  #cc751e;
    color: white;
    padding: 1rem;
}
a.list-group-item{
    background-color: #cc751e;
    border:0px;
    color: white;

    
}
.footer-note{
    color: white;
}
p{
    color:white;
    font-family:sans-serif;
    font-variant: normal;
    font-size: 12px;
}
/*large screen devices*/
body{
    background-color: black;
}
.container{
    padding-top: 2rem;
    padding-bottom: 3rem;
}
.mastheader{
    min-height: 3rem;
    position: relative;
    display: table;
    
    padding-bottom: 8rem;
    width:100%;
    background: url("img/good-faces-T4p72-fc2_A-unsplash.jpg");
    background-size: cover;
    background-position:  center center;
    background-repeat: no-repeat;
    height: 100vh;
}

.mast-header{
    font-size: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:lighter;
    color: aliceblue;
}
.mast-header:hover{
    color: #cd7f32;
}


.mast-text{
    font-size: 15px;
    font-family: sans-serif;
    color:azure;
    
}

.sub-banner{
    height:25vh;
    width: auto;
}

.mast-button{
    color: aliceblue;
    background:#cd7f32;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    border-radius:25px;
}
.about-button,.mast-button:hover{
    background: white;
    color: #cd7f32;
    font-weight: bold;

}



@media(max-width:576px){

    .container{
        padding-top: 2rem;
        padding-bottom: 3rem;
    }
    .mastheader{
        min-height: 2rem;
        position: relative;
        display: table-header-group;  
        padding-bottom: 4rem;
        width:100%;
        background: url("img/good-faces-T4p72-fc2_A-unsplash.jpg");
        background-size: cover;
        background-position:  center center;
        background-repeat: no-repeat;
        height: 25vh;
    }
    
    .mast-header{
        font-size: 30px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight:lighter;
        color: aliceblue;
        display: flex;
        justify-content: center;
    }
    .mast-header:hover{
        color: #cd7f32;
    }
    
    .mast-text{
        display: none;
        font-size: 10px;
        font-family: sans-serif;
        color:azure;
        
    }
    p{
        color:white;
        font-family:sans-serif;
        font-variant: normal;
        font-size: 10px;
    }
    
    .sub-banner{
        display: none;
        height:25vh;
        width: auto;
    }
    
    .mast-button{
        color: aliceblue;
        background:#cd7f32;
        display:flex;
        justify-content:center;
        width: auto;
        border-radius:25px;
        
    }
    .about-button,.mast-button:hover{
        background: white;
        color: #cd7f32;
        font-weight: bold;
    
    }

.footer{
    display: none;
}

}

@media(max-width:789px){

    .mastheader{
        min-height: 2rem;
        position: relative;
        display: table;
        padding-bottom: 8rem;
        width:100%;
        background: url("img/good-faces-T4p72-fc2_A-unsplash.jpg");
        background-size: cover;
        background-position:  center center;
        background-repeat: no-repeat;
        height: 50vh;
    }
    
    .mast-header{
        font-size: 40px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight:lighter;
        color: aliceblue;
    }
    .mast-header:hover{
        color: #cd7f32;
    }
    
    
    .mast-text{
        font-size: 15px;
        font-family: sans-serif;
        color:azure;
        
    }
    p{
        color:white;
        font-family:sans-serif;
        font-variant: normal;
        font-size: 10px;
    }
    
    .sub-banner{
        height:25vh;
        width: auto;
    }
    
    .mast-button{
        color: aliceblue;
        background:#cd7f32;
        display:flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        border-radius:25px;
    }
    .about-button,.mast-button:hover{
        background: white;
        color: #cd7f32;
        font-weight: bold;
    
    }
    
    

}
